@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #144ea0;
  --color-secondary: #cf98ae;
}

body {
  color: #1a1a1a;
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}



